h1, h2 {
  text-align: center;
  font-size: 36px;
  background-color: #eee;
  margin: 0;
  padding: 10px;
}

h2 {
  font-size: 28px;
}

.main li {
  list-style: none;
}

.recipeimg {
  width: 400px;
  height: auto;
}

body {
  text-align: center;
  font-family: Verdana, Tahoma, sans-serif;
}

li, h3 {
  text-align: left;
}

ol li {
  padding: 3px;
}
